/*
    Dev Desk Q Stylesheet
    Covers all pages in 

*/


/*General*/

*{
    /*background: #545250;*/
    color: #cfc5bc;
    font-family: 'Cairo', sans-serif;
}

html{
    height: auto;
}

body{
    width: 100%;
    padding: 0;
    margin: 0;
    background: #545250;
}

h1, h2, a{
    color: #ff952b;
}

a{
    text-decoration: none;
    padding: 4px;
}

button{
    background:#ff952b;
    color: black;
}

button:hover{
    background: #383634;
    color: #cfc5bc;
}

/*Header*/
header{
    display: flex;
    width: 100%;
    height: 3em;
    align-items: center;
    border-bottom: #383634 5px solid;
    position: fixed;
    top: 0px;
    z-index: 1;
    margin-bottom: 10px;
    background-color:#545250;;
}

h1{
    width: 11%;
    margin-left: 1rem;
    white-space: nowrap;
    background: unset;
}

.space{
    width: 100rem;
}

.top-nav{
    display: flex;
    padding-right: 1rem;
    white-space: nowrap;
    align-items: flex-end;
}

.top-nav a:hover{
    color: #cfc5bc;
}
/*main*/
main > *{
    border-bottom: #383634 5px solid;
    display: flex;
    flex-direction: column;
}
/*Img Text Banner*/
.img-text-container{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}


.img-text img{
    width: 100%;
    height: 100%;
    filter: grayscale(100) opacity(55%);
}
.img-text img:hover{
    transition: 2s;
    transform: scale(1.1);
}
.promo-img{
    width: 50%;
    background: #ff952b;
    overflow: hidden;
}
.promo-text{
    display: flex;
    align-items: center;
    width:50%;
    justify-content: center;
    background: #443f3a
}
.promo-text h3{
    font-size: 4rem;
    text-align: center;

    filter: drop-shadow(1px 1px 1px )
}
/*Sign Up*/
.sign-up{
    height: 30em;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/keys.jpg);
    background-size: cover;
}


/*Our Team*/
.our-team{
    height: 30em;
    justify-content: center;
    align-items: center;
    background-image: url(/assets/teams.png);
    background-size: cover;
}

/*Footer*/
footer{
    display: flex;
    flex-direction: column;
    background-color:  #ff952b;
    color: #383634;
    padding-bottom: 5%;
}
footer > *{
    background-color: unset;
    color: #383634;
}

.contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact h3{
    text-align: center;
}

.contact > *{
    color: #383634;
}

.contact button{
    background: #cfc5bc;
}

.contact button:hover{
    background: #383634;
    color: #cfc5bc;
}

.bottom-nav{
    display: flex;
    align-items: center;
    justify-content: center;
}

.bottom-nav > *{
    color: #383634;
}

address{
    display: flex;
    flex-direction: row;
}

address > *{
    color: #443f3a
}

.info{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #383634;
}

.info > *{
    color: #383634;
    text-align: center;
    margin: 0;
}

footer p{
    text-align: center;
    margin: 0 auto;
}

/*Contact Us Page*/
.contact-form{
    padding: 4rem 0;
    align-items: center;
    height: 41.26em;
    justify-content: space-evenly;
}
.contact-form form > *{
    display: flex;
    margin: 0 auto;
    color: #443f3a;
}

.contact-form span{
    color: #cfc5bc
}

.namePhone > *{
    margin: 1rem;
    color: #443f3a;
}

#reason{
    width: 40%;
}

#message{
    width: 100%;
}

/*About Page*/
.team-gallery{
    padding: 4rem;
}

.bio-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

@media(max-width:1024px){
    .img-text{
        height: max-content;
    }

    .promo-text h3{
        font-size: 2.75rem;
    }
}


@media(max-width:800px) {
    .img-text-container{
        flex-direction: column-reverse;
    }

    .img-text-container:first-child{
        flex-direction: column;
    }
    .promo-img{
        width: 100%;
        object-fit: contain;
        height: 50rem;
    }

    .promo-img img{
        height: inherit;
    }

    .img-text img:hover{
        transform: none;
        transition: none;
    }
    .promo-text{
        width: 100%;
        height: 50rem;
    }

    .promo-text h3{
        font-size: 3.2rem;
    }
}

@media(max-width:500px){
    header{
        flex-direction: column;
        height: 10em;
    }
    main{
        margin-top: 10em;
    }
    
    .promo-img, .promo-text{
        height: 35rem;
    }
    .promo-text h3{
        font-size: 2.5rem;
    }
}